{% extends 'base.html' %}

{% block content %}
    <div class="sort-buttons">
        <a href="?sort=asc&by=weight" class="sort-button btn {% if sort_order == 'asc' and sort_by == 'weight' %}active{% endif %}">Sortuj po wadze ⬆️</a>
        <a href="?sort=desc&by=weight" class="sort-button btn {% if sort_order == 'desc' and sort_by == 'weight' %}active{% endif %}">Sortuj po wadze ⬇️</a>
        <a href="?sort=asc&by=title" class="sort-button btn {% if sort_order == 'asc' and sort_by == 'title' %}active{% endif %}">Sortuj po nazwie ⬆️</a>
        <a href="?sort=desc&by=title" class="sort-button btn {% if sort_order == 'desc' and sort_by == 'title' %}active{% endif %}">Sortuj po nazwie ⬇️ </a>
    </div>
     <div class="text-list">
        {% for text in texts %}
        <div class="text-block">
            <h3>{{ text.title }}</h3>
            <p class="short-text">{{ text.truncated_highlighted_content | safe }}</p>
            <p class="full-text" style="display: none;">{{ text.highlighted_content | safe }}</p>
            <button class="toggle-button">Czytaj więcej</button>
            <div class="roles">
                <h4>Znalezione role i słowa:</h4>
                {% if text.roles %}
                    <ul>
                        {% for role, words in text.roles.items() %}
                        <li><strong class="{{ role }}">{{ role.capitalize() }}:</strong> {{ words | join(", ") }}</li>
                        {% endfor %}
                    </ul>
                    <p class="roles-weight">
                        <span>Waga ról:</span>
                        <span class="weight-background" data-weight="{{ text.weight | round(1) }}">{{ text.weight_display }}</span>
                    </p>

                {% else %}
                    <p><strong>Waga ról: </strong><span class="weight-background" data-weight="0.1">0.1</span></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}