{% extends 'base.html' %}

{% block content %}
    <table class="table tfidf-table">
        <caption>TF-IDF</caption>
        <thead>
            <tr>
                <th>Dokument</th>
                <th>Top Słowa</th>
            </tr>
        </thead>
        <tbody>
            {% for wynik in wyniki_tfidf %}
            <tr>
                <td>{{ wynik.nazwa }}</td>
                <td class="result-row">
                    {% for słowo, wartość in wynik.top_słowa %}
                    <span>{{ słowo }} ({{ "%.4f"|format(wartość) }}){% if not loop.last %}, {% endif %}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <a href="{{ url_for('tfidf', page=1) }}" class="page-link">Pierwsza</a>
        <a href="{{ url_for('tfidf', page=page - 1) }}" class="page-link" {% if page == 1 %}style="pointer-events: none; opacity: 0.5;"{% endif %}>←</a>
        <span>{{ page }} / {{ total_pages }}</span>
        <a href="{{ url_for('tfidf', page=page + 1) }}" class="page-link" {% if page == total_pages %}style="pointer-events: none; opacity: 0.5;"{% endif %}>→</a>
        <a href="{{ url_for('tfidf', page=total_pages) }}" class="page-link">Ostatnia</a>
    </div>
{% endblock %}

