{% extends 'base.html' %}

{% block content %}
    <h1>Wagi ról i kombinacji ról</h1>
    <table>
        <thead>
            <tr>
                <th>Rola/Kombinacja</th>
                <th>Waga</th>
            </tr>
        </thead>
        <tbody>
            {% for roles, weight in roles_weights.items() %}
            <tr>
                <td>
                    {% if roles is string %}
                        {{ roles }}
                    {% else %}
                        {{ roles | join(", ") }}
                    {% endif %}
                </td>
                <td>{{ weight }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
