{% extends 'base.html' %}

{% block content %}
    <div class="weights-container">
        <table class="frekwencja-table">
        <caption>Tabela wag ról i ich kombinacji</caption>
            <thead>
                <tr>
                    <th>Rola</th>
                    <th>Waga</th>
                </tr>
            </thead>
            <tbody>
                {% for roles, weight in roles_weights %}
                <tr>
                    <td>
                        {% if roles is string %}
                            <span class="roles-weight">{{ roles }}</span>
                        {% else %}
                            <span class="roles-weight">{{ roles | join(", ") }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="weight-background" data-weight="{{ weight }}">{{ weight }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
